{% extends "padre.html" %}


    {% block central %}
    <div class="tabla">
        <!-- BUSCADOR de productos -->
        <div class="buscador">
            <input type="text" size="50%" name="buscar" id="buscar" placeholder="Buscar producto..." />
            <input type="hidden" name="rol_usuario" id="rol_usuario" value="{{user.rol}}" />
            <input class="lupa" type="image" src="static/icons/lupa.png" width="30px" onclick="buscarProductos('{{user.rol}}')" alt="Buscar" />
        </div>
        <div id="busqueda">
            <!-- contenido de busqueda -->
        </div>

        <!-- matriz de productos -->
        <table id="tabla_prod">
         {% set col = 0 %}
         {% for producto in productos %}
            
            {% if col%3==0 %} <!-- mostrar 3 columnas por fila -->
             <tr> <!-- fila -->
            {% endif %}

            <td> <!-- celda comun -->
                <a href="producto.php?pr={{ producto.idP }}"><span>{{ producto.nombre }}</span><img src="static/image/{{ producto.img_link }}.jpg"/></a>
            </td>

            {% if col%3==2 %} <!-- si es la última columna de la fila, pasamos a la siguiente  -->
             </tr>
            {% endif %}
            {% set col=col+1 %}

         {% endfor %}

        </table>
        {% if user.rol=='gestor' or user.rol=='superusuario' %}
            <section>
                <!-- <a href=""><img style="width: 15%; border-style: dashed" src="static/icons/add.png" alt="añadir"></a> -->
                <form action="producto.php" onsubmit="return true" method="post">
                    <input type="hidden" name="registrar" value="true" />
                    <input type="image" style="border: 3px dashed #deb420;" width="15%" src="static/icons/add.png" />
                </form>
            </section>
        {% endif %}
    </div>
    {% endblock %}