{% extends "padre.html" %}

    {% block central %}
    <div style="float: left; margin-left: 15px;">
        {% for usuario in users %}
        {% if usuario.nombre != user.nombre %} <!-- si usuario distinto a actual -->
        <h3>{{ usuario.nombre }} <i>({{usuario.rol}})</i></h3>
        <form action="roles.php" method="post">
            <input type="hidden" name="UsuarioNombre" value="{{usuario.nombre}}" />
            
            {% if usuario.rol != 'superusuario' %}
            <input type="submit" class="datos" name="rol" value="superusuario" />
            {% endif %}
            
            {% if usuario.rol != 'moderador' %}
            <input type="submit" class="datos" name="rol" value="moderador" />
            {% endif %}
            
            {% if usuario.rol != 'gestor' %}
            <input type="submit" class="datos" name="rol" value="gestor" />
            {% endif %}

            {% if usuario.rol != 'registrado' %}
            <input type="submit" class="datos" name="rol" value="registrado" />
            {% endif %}        
        </form>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}