{% extends "padre.html" %}

    {% if user %}
    {% set phU = user.nombre %}
    {% set phE = user.email %}
    {% set phT = user.telefono %}
    {% set phV = 'Editar' %}
    {% endif %}
    {% block registro %}
    <form class="iniSesion" action="signup.php" method="post">
        <input class="datos" type="text" placeholder="{{ phU }}" name="nombre" required />
        <input class="datos" type="password" placeholder="Contraseña" name="contraseña" required />
        <input class="datos" type="email" placeholder="{{ phE }}" name="email" required />
        <input class="datos" type="tel" placeholder="{{ phT }}" name="telefono" required /> <br>
        <input type="submit" id="submit" value="{{ phV }}" />
    </form>
    {% endblock %}